@import "../Partyou";

#download {
  overflow: hidden;
  background-image: linear-gradient(62deg, $partyou-darkblue, $partyou-lightblue);

  .container {
    padding: 85px 0 0;
  }

  h2 {
    color: white;
  }
  h4 {
    @extend .size-22;
    font-weight: 500;
    margin: 1.5rem 0 50px;
    color: white;
  }

  a {
    margin: 0 5px;
  }
  #foto_app {
    margin: 67px 0 0;
  }
}
