@import "Partyou";

.page.funcionalidades {
  .bg-light {
    background-color: #f9f9f9 !important;
  }
  &::before {
    content: '';
    background-color: #f9f9f9;
    position: absolute;
    top: 0;
    left: 0;
    height: 104px;
    display: block;
    width: 100%;
  }
}
.bg {
  background-color: #f9f9f9;
  position: relative;

  &::before {
    content: '';
    background: white;
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: inline-block;
  }
}

#section-1 {
  padding-bottom: 52px;

  h1 {
    text-align: center;
    margin-top: 110px;
  }
  h5 {
    @extend .size-22;
    @extend .partyou-lightgrey-5;
    text-align: center;
    margin: 30px 30%;
  }

  .btn {
    margin: 10px 0 60px;
  }
}

#section-2 {
  h2 {
    text-align: center;
    margin: 50px 0 100px;
  }

  h3 {
    margin: 80px 0 40px;
  }
  .item {
    p {
      @extend .size-22;
      margin: 0 0 60px;
    }
  }
  h5 {
    @extend .size-19;
    @extend .bold;
    margin: 20px 0;
  }
  .subitem {
    p {
      @extend .size-17;
      padding-right: 70px;
    }
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 160px;
  }
}

@media (max-width: 992px) {
  #section-1 {
    h1 {
      margin-top: 30px;
    }
    h5 {
      margin: 20px 10%;
    }
    .btn {
      margin: 10px 0 20px;
    }
  }

  #section-2 {
    > .row {
      border-bottom: 1px solid #f4f4f4;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    h2 {
      font-size: 2rem;
      margin: 0 0 20px;
    }
    h3 {
      font-size: 1.6rem;
      margin: 1rem 0;
      text-align: center;
    }
    h5 {
      text-align: center;
    }
    .item {
      p {
        margin: 0 0 1.5rem;
        text-align: center;
        padding: 0 5%;
      }
    }
    .subitem {
      p {
        padding-right: 0;
        text-align: center;
        padding: 0 15%;
      }
    }

    img {
      max-width: 100%;
      margin: 1rem 0;
    }
    .icon {
      img {
        margin: 0;
      }
    }
    .container-fluid {
      margin: 0;
    }
  }
}
