@import "Partyou";

#section-1 {
  h1 {
    margin-top: 110px;
    color: $partyou-darkblack;
  }
  p.size-22.partyou-lightgrey-5 {
    margin: 27px 0 30px;
  }
  p.policy {
    margin-top: 4px;
  }
  img.celular {
    margin-top: 90px;
  }
  .btn-lg, .btn-group-lg > .btn, .btn-group-lg > .btn {
    padding: 0.9rem 3.5rem;
  }
  .input-group-lg > .form-control:not(textarea), .input-group-lg > .custom-select {
    height: calc(1.5em + 1.6rem + 2px);
  }
  .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-radius: 0.3rem;
    margin-right: 12px;
  }
  .testimonials {
    margin-top: 30px;

    &::before {
      content: '';
      border-bottom: 1px solid #c0c0c0;
      width: 100px;
      height: 1px;
      display: block;
      margin-bottom: 20px;
    }
    img {
      border-radius: 30px;
      margin-right: 20px;
      float: left;
    }
    p {
      @extend .partyou-lightgrey-2;
      @extend .size-22;
    }
    strong {
      font-weight: 500;
    }
    span {
      @extend .partyou-lightgrey-2;
      @extend strong;
    }
  }
}

#section-2 {
  h2 {
    text-align: center;
    margin: 70px 0;
  }

  img {
    float: left;
  }
  h3 {
    @extend .bold;
    @extend .size-19;
    margin: 0.6rem 0 0.6rem 64px;
  }
  p {
    margin-left: 64px;
    @extend .size-17;
  }
  .row {
    margin-bottom: 79px;
  }
  .btn-funcionalidades { 
    margin-top: 110px;
    margin-bottom: 140px;
  }
}

.bg {
  background-color: #f4f4f4;
  position: relative;

  &::before {
    content: '';
    background: white;
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: inline-block;
  }
}

#section-3 {
  h1 {
    @extend .gradient-text;
    font-size: 3.8rem;
    font-weight: 600;
  }
  h6 {
    @extend .partyou-lightgrey-6;
  }
  .box .container .row h6 {
    margin-left: 40px;
  }
  h2 {
    text-align: center;
    padding: 1.5rem 20%;
    font-weight: 500;
  }
  .text-center {
    margin: 45px 0 65px;
  }

  ul.option {
    margin: 70px auto;

    li {
      list-style: none;
      display: inline-block;
      margin: 6px 27px;
      padding: 9px 30px;
      @extend .size-17;
      @extend .partyou-lightgrey-4;

      &.title {
        @extend .partyou-darkgrey;
        @extend .size-19;
        @extend .bold;
      }
      &.active {
        @extend .bolder;
        @extend .partyou-blue;
        background: white;
        border-radius: 6px;
        box-shadow: 0 4px 58px 0px rgba(0, 0, 0, 0.2);

        span {
          @extend .gradient-text;
        }
      }
    }
  }

  .box {
    display: block;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
    width: 1070px;
    position: relative;
    z-index: 1000;
    box-shadow: 0 4px 58px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 162px;

    .container {
      padding: 0 70px 65px;
    }

    h3 {
      font-size: 1.45rem;
      color: $partyou-lightgrey-1;
    }
  }
}

#section-5 {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 96px 0;

  h4 {
    @extend .size-22;
    @extend .partyou-lightgrey-5;
    font-weight: 500;
    margin: 1.5rem 0;
  }

  #foto_app {
    margin: 67px 0;
  }
}

@media (max-width: 992px) {
  #section-1 {
    h1 {
      margin-top: 30px;
    }
    p.size-22.partyou-lightgrey-5 {
      font-size: 1.2rem;
    }
    img.celular {
      width: 90%;
    }
    .btn-lg, .btn-group-lg > .btn, .btn-group-lg > .btn {
      padding: 0.9rem 1.5rem;
    }
    .input-group > .form-control:not(:last-child), #section-1 .input-group > .custom-select:not(:last-child) {
      margin-right: 0;
    }
  }
  #section-2 {
    h2 {
      margin: 30px 0;
    }
    .row {
      margin-bottom: 0;
    }
    .btn-funcionalidades {
      margin: 20px 0 60px;
    }
  }
  .bg::before {
    height: 43%;
  }

  #section-3 {
    padding-top: 20px;

    h1 {
      margin-top: 1.5rem;
      font-size: 3.5rem;
    }
    h2 {
      padding: 1rem 0.5rem;
      font-size: 2rem;
    }
    .text-center {
      margin: 2rem 0 0;
    }
    .box {
      width: 100%;
      margin-top: 3rem;
      img {
        width: 100%;
      }
    }
    ul.option {
      margin: 1rem auto;
      padding: 0;

      li {
        display: block;
      }
    }
  }
}
