@import "Partyou";

.navbar-expand-lg .navbar-nav {
  width: 100%;
  flex-direction: row-reverse;
}

#section-1 {
  margin-top: 42px;

  &.bg {
    background-color: #f4f4f4;
    position: relative;

    &::before {
      content: '';
      background: white;
      height: 50%;
      width: 100%;
      position: absolute;
      top: 0;
      display: inline-block;
    }
  }

  .row > div {
    box-shadow: 0 4px 50px 0px rgba(80, 80, 80, 0.2);
    padding: 50px 86px;
    background-color: #fff;
    border-radius: 5px;
  }

  p.subtitle {
    @extend .size-22;
  }

  .btn {
    width: 100%;
  }

  p.already {
    text-align: center;
    margin: 19px 0;
  
    a {
      @extend .partyou-lightblack-1;
      @extend .size-18;
      @extend strong;
    }
  }
}
