/* COLORS */
$partyou-blue: #29B6F6;
$partyou-darkblue: #27C2FF;
$partyou-lightblue: #00DCFF;
$partyou-darkblack: #020202;
$partyou-lightblack-1: #1A1A1A;
$partyou-lightblack-2: #212121;
$partyou-lightblack-3: #272727;
$partyou-black: #252525;
$partyou-darkgrey: #434343;
$partyou-mediumgrey: #646464;
$partyou-grey: #737373;
$partyou-lightgrey-1: #7c7c7c;
$partyou-lightgrey-2: #808080;
$partyou-lightgrey-3: #838383;
$partyou-lightgrey-4: #858585;
$partyou-lightgrey-5: #8e8e8e;
$partyou-lightgrey-6: #b9b9b9;
$font-family-sans-serif: 'Jost', sans-serif;

/* TYPES */
.size-17 { font-size: 1.065rem; }
.size-18 { font-size: 1.125rem; }
.size-19 { font-size: 1.2rem; }
.size-20 { font-size: 1.25rem; }
.size-22 { font-size: 1.4rem; }
strong { font-weight: 500; }
small { font-size: 0.75rem; }
.bold { font-weight: 600; }
.bolder { font-weight: 700; }

h1, .h1 { @extend .bolder; font-size: 3.125rem; }
h2, .h2 { @extend .bold; font-size: 2.5rem; }
h3, .h3 { @extend .bold; font-size: 2.2rem; }
h4, .h4 { @extend .bolder; font-size: 2rem; }
h5, .h5 { font-weight: 400; font-size: 1.875rem; line-height: 1.5em;}
h6, .h6 { font-size: 1.45rem; }
@media (max-width: 992px) {
  h1, .h1 { font-size: 2.5rem; }
  h2, .h2 { font-size: 1.8rem; }
  h3, .h3 { font-size: 1.5rem; }
  h4, .h4 { font-size: 1.3rem; }
  h5, .h5 { font-size: 1.25rem; }
  h6, .h6 { font-size: 1.15rem; }
}
.partyou-blue { color: $partyou-blue; }
.partyou-darkblue { color: $partyou-darkblue; }
.partyou-lightblue { color: $partyou-lightblue; }
.partyou-darkblack { color: $partyou-darkblack; }
.partyou-lightblack-1 { color: $partyou-lightblack-1; }
.partyou-lightblack-2 { color: $partyou-lightblack-2; }
.partyou-lightblack-3 { color: $partyou-lightblack-3; }
.partyou-black { color: $partyou-black; }
.partyou-darkgrey { color: $partyou-darkgrey; }
.partyou-mediumgrey { color: $partyou-mediumgrey; }
.partyou-grey { color: $partyou-grey; }
.partyou-lightgrey-1 { color: $partyou-lightgrey-1; }
.partyou-lightgrey-2 { color: $partyou-lightgrey-2; }
.partyou-lightgrey-3 { color: $partyou-lightgrey-3; }
.partyou-lightgrey-4 { color: $partyou-lightgrey-4; }
.partyou-lightgrey-5 { color: $partyou-lightgrey-5; }
.partyou-lightgrey-6 { color: $partyou-lightgrey-6; }

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: $partyou-blue;

  /* Create the gradient. */
  background-image: linear-gradient(62deg, $partyou-darkblue, $partyou-lightblue);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
