@import "Partyou";

#section-1 {
  h1 {
    text-align: center;
    margin: 110px 0 60px;
    padding: 0 20%;
  }

  img {
    margin: 130px 0;
    width: 100%;
  }
}

#section-2 {
  h2 {
    text-align: center;
    margin-bottom: 60px;
  }
  .content {
    padding: 0 20%;
    text-align: center;
    @extend .size-18;
    margin-bottom: 100px;
  }
}

#section-3 {
  h2 {
    text-align: center;
    margin-bottom: 70px;
  }

  h5 {
    @extend .size-19;
    @extend .partyou-lightblack-2;
    @extend .bold;
    text-align: center;
  }

  p {
    @extend .size-17;
    @extend .partyou-lightgrey-3;
    text-align: center;
  }
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 130px 22px;

  .flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction and if we allow the items to wrap
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: column wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-between;

    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
  }

  .flex-item {
    border-radius: 5px;
    overflow: hidden;
  }

  .col1 {
    width: 591px;
    overflow: hidden;
    border-radius: 5px;
  }

  .col2 {
    width: 458px;
  }
}

#section-4 {
  margin-bottom: 70px;
  h2 {
    margin-bottom: 70px;
    text-align: center;
  }

  .picture {
    display: block;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: contain;
  }
  p.name {
    @extend .partyou-lightblack-2;
    @extend .size-19;
    @extend .bold;
    margin: 2.1rem 0 0.3rem;
  }
  p.role {
    @extend .partyou-lightgrey-3;
    @extend .size-17;
  }
}

#section-5 {
  margin-bottom: 50px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  ul {
    padding: 0;
    li {
      display: block;
      padding: 28px 50px;
      box-shadow: 0 4px 50px 0px rgba(80, 80, 80, 0.2);
      background: #FAFAFA;
      margin: 45px 0;
      overflow: hidden;

      a {
        @extend .size-19;
        @extend .partyou-lightblack-2;
        @extend .bold;

        span.vaga {
          float: left;
          display: block;
          height: 28px;
        }
        span.arrow {
          display: block;
          width: 77px;
          height: 28px;
          float: right;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #section-1 {
    overflow: hidden;

    h1 {
      margin: 30px 0 15px;
      padding: 0;
    }

    img {
      margin: 30px 0;
    }
  }

  #section-2 {
    h2 {
      margin-bottom: 20px;
    }
    .content {
      padding: 0;
      margin-bottom: 30px;
    }
  }

  #section-3 {
    h2 {
      margin-bottom: 30px;
    }
    margin-bottom: 25px;
    p {
      padding: 0 10%;
    }
  }

  #gallery {
    margin: 20px 0;
    overflow: hidden;

    .col1 {
      margin-bottom: 7px;
    }
    .col2 {
      width: 100%;
    }

    .flex-item {
      width: 100%;
      overflow: hidden;
      margin: 7px 0;
    }

    img {
      width: 100%;
    }
  }

  #section-4 {
    margin-bottom: 50px;
    h2 {
      margin-bottom: 40px;
    }
  }
}
